nav ul{
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 1em;
    font-weight: bold;
    font-size: 1em;
}

nav ul li a{
    display: inline;
    text-decoration: none;
    color: #BCD0D7;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.navLeft{
    display: flex;
    justify-content: flex-start;
}

.navRight{
    display: flex;
    justify-content: flex-end;
}

#CButton{
    color: white;
    
}

.projects{
    display: flex;
    flex-direction: row;
}

.softwareLogo{
    height: 5em;
}

#software{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.software p{
    align-items: center;
}

#skills{
    display: flex;
}

#skillsRow1,#skillsRow2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: x-large;

}

#SP{
    color: #BCD0D7;
}

@media only screen and (max-width: 600px) {
    #skillsRow1,#skillsRow2{
        display: block;
    }

    .softwareLogo{
        height: 5em;
    }

    #YamuLogoGif{
        width: 100%;
    }
  }