@font-face{
    font-family: 'Cabin';
    src: url('fonts/Cabin-VariableFont_wdth\,wght.ttf');
}

body{
    align-items: center;
    font-family: 'Cabin', sans-serif;
    margin: 0 10%;
    background-color: #0D0D0D;
    color: #ffffff;

    font-size: 22.9px;
}

nav ul li a{
    display: inline;
    text-decoration: none;
    color: #BCD0D7;
}

nav ul li a:hover{
    color: #ffffff;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 1em;
    font-weight: bold;
    font-size: 1em;
}



nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1em;
}

.navLeft{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.navRight{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

#logo{
    height: 5vh;
    width: auto;
}

@media only screen and (max-width: 600px) {
   
    
    .mainnav {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: .5em;
    }
  
    .navRight ul {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;
      margin: 0;
      gap: .5em;
    }
  
    .navRight ul li {
        margin: 0;
        padding: 0;
    }
  
    .navLeft {
      justify-content: flex-start;
      width: 100%;
    }
  
    .navRight {
      justify-content: flex-start;
      width: 100%;
    }
  }